/* ImageBlock.css */

.custom-tooltip {
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.custom-tooltip-visible {
    transform: scale(1);
    opacity: 1;
}

.tooltip-content {
    display: flex;
    align-items: center;
    flex-direction: column; /* Aligns items in a column */
}

.tooltip-title {
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}

.tooltip-description {
    margin: 5px 0 0 0; /* Add margin-top for spacing */
    font-size: 12px;
    opacity: 0.8;
}

.tooltip-icon {
    margin-left: 8px;
    color: white; /* Change color based on your design */
}
