
  /* CharacterGrid.css */
  
  .character-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default to 3 columns */
    grid-template-rows: auto auto;
    gap: 10px; /* General gap */
  }

  /* Example in Kamib.css or a separate fonts.css file */
@font-face {
  font-family: 'CustomFont'; /* Name of your custom font */
  src: url('../../../../fonts/iannnnn-OWL-Regular.otf') format('opentype'); /* Path to the font file */
  font-weight: normal; /* Weight of the font */
  font-style: normal; /* Style of the font */
}

/* Optionally, you can define additional font weights or styles */
@font-face {
  font-family: 'CustomFont';
  src: url('../../../../fonts/iannnnn-OWL-Bold.otf') format('opentype'); /* Path to bold font file */
  font-weight: bold; /* Bold weight */
  font-style: normal; /* Style of the font */
}


.font-custom {
  font-family: 'CustomFont', sans-serif; /* Ensure this matches your @font-face name */
}

  
  .character-grid > div {
    margin: 0;
  }
  
  @media (max-width: 768px) { /* Medium devices */
    .character-grid {
      grid-template-columns: 1fr; /* Stack images on smaller screens */
    }
  
    /* Make sure the zIndex is respected for stacking */
    .character-grid > div {
      z-index: 1; /* Reset zIndex to ensure stacking order */
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) { /* Large devices */
    .character-grid {
      grid-template-columns: repeat(2, 1fr); /* Use 2 columns for medium devices */
      grid-template-areas: 
        "char4 char5"
        "char1 char2"
        "char3 char3"; /* Optional: define areas if needed */
    }
  
    /* Adjust grid areas for larger devices if necessary */
    .character-grid .char5 {
      grid-area: span 1 / span 2; /* Span both columns */
    }
  }
  

  