/* Kamib.css */

@font-face {
    font-family: 'CustomFont';
    src: url('../../fonts/iannnnn-OWL-Regular.otf') format('opentype'); /* Adjust the path as needed */
    font-weight: normal;
    font-style: normal;
}

/* Apply the custom font specifically to elements you want */
.kamib-custom-font {
    font-family: 'CustomFont', sans-serif !important;
}


/* You can also create specific styles for headers, paragraphs, etc. */
.kamib-header {
    font-family: 'CustomFont', sans-serif;
    font-size: 24px; /* Example size */
    font-weight: bold; /* Example weight */
}
.kamib-container {
    font-family: 'CustomFont', sans-serif !important; /* This will apply only to elements inside .kamib-container */
}
