@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css or index.css */



/* Global Styles */

html {
    scroll-behavior: smooth; /* Enable smooth scrolling */
}

/* Global Styles in your CSS */
body {
    font-family: "Prompt", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Prompt", sans-serif;
}

p {
    font-family: "Prompt", sans-serif;
}
